.body {
    display:flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.header, .footer, .section1, .section2, .section3, .section4, .section5 {
    padding:100px
    }

.header, .footer {
    display:flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.footer {
    display:flex;
    justify-content: center;
    color:#E5E7EB
}

.logotext {
    font-size:24px;
    color:#F9FAF8;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
    font-size: 18px;
    color:#E5E7EB;
    display:flex;
    gap:20px
}



 .section1 {
    background-color: #1F2937;
    display:flex;
    justify-content: space-evenly;
    padding:100px;
 }


 .title {
     font-size:48px;
     font-weight:bolder;
     color:#F9FAF8;
 }



 .title2 {
    font-size: 36px;
    font-weight:bolder;
    color: #1F2937
    style:flex;
    margin-bottom:70px;
    display:flex;
    justify-content: center;
    align-items: center;
}

 .container {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
  }
  
  .info {
    max-width: 200px; 
  }

  .text {
      text-align: center;
  }
  


  .section3 {
      background-color: #E5E7EB;
      
  }

  .quote {
      font-size: 36px;
      font-style: italic;
      color: #1F2937;
      style:flex;
  }

  .quote2 {
      font-weight: bold;
      text-align: right;
  }